@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto" , sans-serif, Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    background-color: #c4c4c4;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #5154eb;
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);    
}
.heading {
    color: #c4c4c4;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
label {
    display: block;
    color: #c4c4c4;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
select {
    background-color: #c4c4c4;
    color: #000;
    font-size: 15px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.btn {
    background-color: #29854f;
    color: #fff;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.2s linear;    
}
.btn:hover {
    background-color: #1ac963;
}
.btn:disabled {
    background-color: #be1111;
    cursor: not-allowed;
}
.hide {
    display: none;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.timer .progress {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 3px solid #c0b4b4;
}
.timer .progress .progress-bar {
    background: linear-gradient(to right, #9d50e6, #d763e6 );
    transition: 1s linear;
    overflow: hidden;
    width: 50%;
    height: 100%;
    border-radius: 15px;
}
.timer .progress .progress-text {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.question-wrapper .number {
    color: #c4c4c4;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}
.question-wrapper .number .total {
    color: #8d8d8d;
    font-size: 19px;
}
.question-wrapper .question {
    color: #c4c4c4;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.answer-wrapper .answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4c4c4;
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #c0b4b4;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}
.answer .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #c0b4b4;
    transition: all 0.3s;
}
.answer .checkbox .icon {
    opacity: 0;
}
.answer:hover .checkbox, .answer.selected .checkbox {
    background-color: #1ac963;
    border-color: #1ac963;
}
.answer.selected .checkbox .icon {
    opacity: 1;
    font-size: 20px;
    font-weight: 900;
}
.answer.correct {
    border-color: #1ac963;
}
.answer.wrong {
    border-color: #d81616;
}
.question-wrapper, .answer-wrapper {
    margin-bottom: 40px;
}
.btn.next {
    display: none;
}
.end-screen .score {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 800px;
}
.end-screen .score-text {
    color: #c4c4c4;
    font-size: 25px;
    margin-bottom: 110px;
}
@media (max-width: 468) {
    .container {
        max-width: 100%;
        min-width: 100vh;
        border-radius: 0;
    }
}